version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  backend:
    build: .
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/testdb
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    command: >
      bash -c "
      echo 'Waiting for Postgres...' &&
      sleep 10 &&
      gunicorn --bind 0.0.0.0:8000 app:app
      "

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/cache:/var/cache/nginx
    depends_on:
      - backend